.body {
  background-color: rgb(0, 0, 0);
}
.title {
  padding-top: 1rem;
  color: aquamarine;
  text-align: center;
}
.backG {
  /*background-color: rgb(0, 45, 82);*/

  background-color: lightseablue; /*Lightseagreen;*/
}
.bubblesContainer {
}
/*.backG:hover {
  background-color: rgb(95, 107, 160);
}*/
